<h1>Find a Flickr Feed</h1>
<h4>(Examples: "198780121@N08" or "polybazze" )</h4>
<%= render "form" %>
<%= 'No user was found with that ID.' unless @user_nsid %>

<% if @feed_urls %>

	<div class="grid-container">

  <% @feed_urls.each do |url| %>
		<div class="grid-item">
			<%= image_tag(url) %>
		</div>
  <% end %>

	</div>
<% end %>

<!--div class="grid-container"-->
	<!--% 25.times do %-->
		<!--div class="grid-item"-->
		
		<!--/div-->
	<!--% end %-->
<!--/div-->
