/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	font-family: "Inter", sans-serif;
	letter-spacing: 0.01rem;
	font-size: 1.2rem;
}

body {
	text-align: center;
}

.grid-container {
	resize: both;
	overflow: auto;
	display: grid;
	border: 1px solid grey;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}

.grid-item {
	width: 125px;
	height: 125px;
	background-color: #fee;
}