<form action="/" method="get" accept-charset="UTF-8">
	<label for="username_or_nsid">User ID:</label>
	<input type="text" name="username_or_nsid">
	<input type="submit">
</form>

<br>
<%# Rails form_with Helper %>
<%#= form_with url: "/", method: :get do |f| %>
<%#= f.label :flickr_id %>
<%#= f.text_field :flickr_id %>
<%#= f.submit %>
<%# end %>